# Install packages from feta
--find-links https://s3.amazonaws.com/sheepdog-assets/feta/index.html

# Django version appears in 3 files: requirements.txt, requirements.spec.txt, new_project.sh
Django==1.6b2

# Django-specific dependencies
South
dj-database-url
django-compressor
django-crispy-forms
django-debug-toolbar==0.9.4-sd2
django-storages
django-versioned

# Supporting dependencies
Fabric
boto
coverage
gunicorn
psycopg2
raven

